section.intro {
    width: 100%;
    height: 900px;
    background-color: #29435C;
    position: relative;
    text-align: center;
}

h2 {
    font-family: sans-serif;
}

.intro > h1 {
    padding-top: 8%;
    margin: 0px;
    font-size: 1000%;
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
}

.intro > p {
    padding: 0px;
    margin: 0px;
    font-size: 400%;
}

.intro > img {
    position: absolute;
}

.intro > .first-cloud {
    top: 30px;
    right: 50px;
}

@media (max-width: 1152px) {
    .intro > .first-cloud {
        top: 1px;
        right: 1px;
    }

    .intro > h1 {
        padding-top: 12%;
    }
}

.intro > .second-cloud {
    bottom: 350px;
    left: 50px;
}

.intro > .mountain {
    width: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.about > .my-image {
    width: 250px;
    height: 280px;
    border-radius: 50%;
}

.about > h2 {
    color: cyan;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    font-weight: bold;
    font-size: 500%;
}

.about > p {
    font-family: serif;
    padding: 0px;
    margin: 0px;
    font-size: 200%;
    font-weight: 600;
}

/* from line 86 to line 111 is the break section */
.break-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 100px 0px 100px 0px;
}

.break-flex-container > *{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #a7b7d2;
    border-radius: 50%;
    margin-left: 0.15rem;
    margin-right: 0.15rem;
}

.break-flex-container > .first {
    width: 0.6rem;
    height: 0.6rem;
}

.break-flex-container > .last {
    width: 0.6rem;
    height: 0.6rem;
}
/* from line 86 to line 111 is the break section */

.skills > h2{
    color: cyan;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0px;
    font-weight: bold;
    font-size: 500%;
}

.skills > .grid-container {
    display: grid;
    width: 50%;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 100px 25% 0px 25%;
    row-gap: 30px;
    column-gap: 30px;
}

.skills img.hacker {
    width: 400px;
    height: 300px;
}

.skills img.pen {
    background-color: lightcoral;
    width: 350px;
    height: 300px;
    border-radius: 50%;
}

.skills .first-head, .second-head {
    padding-top: 50px;
    color: aqua;
    font-size: 250%;
    font-weight: bold;
}

.skills .first-paragraph, .second-paragraph {
    font-family: serif;
    font-size: 150%;
}

.contact-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.contact h2 {
    color: cyan;
    margin: 0px;
    font-weight: bold;
    font-size: 500%;
}

.contact p {
    font-size: 150%;
    font-family: serif;
}

.contact > div > div > a{
    color: white;
    font-size: 250%;
}

.footer {
    margin-top: 100px;
    height: 200px;
    background-color: #29435C;
}

.footer .footer-flex-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer .footer-grid-container {
    display: grid;
    width: 50%;
    height: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15%;
    row-gap: 30%;
    font-size: 200%;
}

.footer a {
    color: #a7b7d2;
    text-decoration: none;
}

.footer .linkedin {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.footer .github {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.footer .copyright {
    color: white;
    font-size: 50%;
    padding: 0px;
    margin: 0px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}